server.port=8888
logging.path=/opt/site/logs
cache.template.tempPath=/opt/site/cache/
#cache.template.tempPath=E:/
spring.resources.static-locations=classpath:/META-INF/resources/, classpath:/resources/, classpath:/static/, file:${cache.template.tempPath}
qcloud.accessKey=${KEY}
qcloud.secretKey=${SECRET}
qcloud.bucket=${BUCKET}
qcloud.domainOfBucket=${BUCKET_DOMAIN}
qcloud.enable=${QCLOUD_ENABLE:true}